[run]
branch = True
source = .
omit =
    .venv/*
    docs/*
    test/*
    tests.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[html]
directory = htmlcov

[xml]
output = coverage.xml
