[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
sourcery = "*"
pytest = "*"
matplotlib = "*"
torch = "*"
autograd-minimize = "*"

[dev-packages]
pytest = "*"
sourcery-cli = "*"

[requires]
python_version = "3.10"

[scripts]
test = "python -m pytest --doctest-modules"
